<% was_validated = following.errors.any? %>

<%= form_with(model: following, local: true, novalidate: true, class: "mb-3") do |f| %>
  <%= f.hidden_field :follower_id, value: current_user.id %>
  <div class="form-group">
    <% followed_class = "form-control" %>
    <% followed_was_invalid = following.errors.include?(:followed) %>

    <% if was_validated %>
      <% if followed_was_invalid %>
        <% followed_class << " is-invalid" %>
      <% else %>
        <% followed_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :followed_id %>
    <%= f.number_field :followed_id, class: followed_class, placeholder: "Enter followed" %>
    <% if followed_was_invalid %>
      <% following.errors.full_messages_for(:followed).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
