<div class="card mb-3">
  <h2 class="card-header h4">
    Monthly Record #<%= monthly_record.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @monthly_record.user.present? %>
          <%= link_to monthly_record.user, monthly_record.user %>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= monthly_record.date %></dd>

      <dt>Monthly net carbon</dt>
      <dd><%= monthly_record.monthly_net_carbon %></dd>

      <dt>Offset solution</dt>
      <dd><%= monthly_record.offset_solution %></dd>

      <dt>Offset carbon amount</dt>
      <dd><%= monthly_record.offset_carbon_amount %></dd>

      <dt>Month</dt>
      <dd><%= monthly_record.month %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back monthly_record, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @monthly_record.user %>
          <%= link_to edit_monthly_record_url(monthly_record), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @monthly_record.user %>
          <%= link_to monthly_record, method: :delete, data: { confirm: "Do you really want to delete this monthly_record?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(monthly_record.updated_at) %> ago
  </div>
</div>
