<div class="card mb-3">
  <h2 class="card-header h4">
    Activity Ranking #<%= activity_ranking.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>User</dt>
      <dd>
        <% if @activity_ranking.user.present? %>
          <%= link_to activity_ranking.user, activity_ranking.user %>
        <% end %>
      </dd>

      <dt>Activity</dt>
      <dd>
        <% if @activity_ranking.activity.present? %>
          <%= link_to activity_ranking.activity, activity_ranking.activity %>
        <% end %>
      </dd>

      <dt>Date</dt>
      <dd><%= activity_ranking.date %></dd>

      <dt>Month</dt>
      <dd><%= activity_ranking.month %></dd>

      <dt>Carbon amount</dt>
      <dd><%= activity_ranking.carbon_amount %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back activity_ranking, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_activity_ranking_url(activity_ranking), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to activity_ranking, method: :delete, data: { confirm: "Do you really want to delete this activity_ranking?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(activity_ranking.updated_at) %> ago
  </div>
</div>
