<% was_validated = like.errors.any? %>

<%= form_with(model: like, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for log_id start -->
  <div class="form-group">
    <% log_class = "form-control" %>
    <% log_was_invalid = like.errors.include?(:log) %>

    <% if was_validated %>
      <% if log_was_invalid %>
        <% log_class << " is-invalid" %>
      <% else %>
        <% log_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :log_id %>
    <!-- Input for log_id start -->
    <%= f.number_field :log_id, class: log_class, placeholder: "Enter log" %>
    <!-- Input for log_id end -->
    <% if log_was_invalid %>
      <% like.errors.full_messages_for(:log).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for log_id end -->
  <!-- Label and input for liker_id start -->
  <div class="form-group">
    <% liker_class = "form-control" %>
    <% liker_was_invalid = like.errors.include?(:liker) %>

    <% if was_validated %>
      <% if liker_was_invalid %>
        <% liker_class << " is-invalid" %>
      <% else %>
        <% liker_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :liker_id %>
    <!-- Input for liker_id start -->
    <%= f.number_field :liker_id, class: liker_class, placeholder: "Enter liker" %>
    <!-- Input for liker_id end -->
    <% if liker_was_invalid %>
      <% like.errors.full_messages_for(:liker).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for liker_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
