<%= form_with(model: @following, local: true) do |f| %>

  <%= f.hidden_field :follower_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :followed_id %>

    <%= f.text_field :followed_id, class: "form-control" %>
  </div>

  <%= f.submit "Create following", class: "btn btn-block btn-outline-secondary" %>
<% end %>
