<!-- Form following start -->
<%= form_with(model: @following, local: true) do |f| %>
<!-- Form following end -->

  <!-- Label and input for follower_id start -->
  <!-- Input for follower_id start -->
  <%= f.hidden_field :follower_id, value: @user.id %>
  <!-- Input for follower_id end -->
  <!-- Label and input for follower_id end -->

  <!-- Label and input for followed_id start -->
  <div class="form-group">
    <%= f.label :followed_id %>

    <!-- Input for followed_id start -->
    <%= f.text_field :followed_id, class: "form-control" %>
    <!-- Input for followed_id end -->
  </div>
  <!-- Label and input for followed_id end -->

  <%= f.submit "Create following", class: "btn btn-block btn-outline-secondary" %>
<% end %>
