<%= form_with(model: @activity_ranking, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :user_id %>

    <%= f.collection_select :user_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :activity_id, value: @activity_type.id %>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :carbon_amount %>

    <%= f.text_field :carbon_amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :month %>

    <%= f.text_field :month, class: "form-control" %>
  </div>

  <%= f.submit "Create activity ranking", class: "btn btn-block btn-outline-secondary" %>
<% end %>
