<%= form_with(model: @comment, local: true) do |f| %>

  <%= f.hidden_field :log_id, value: @activities_log.id %>

  <%= f.hidden_field :commenter_id, value: current_user.id %>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :date %>

    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :time %>

    <%= f.date_select :time, class: "form-control" %>
  </div>

  <%= f.submit "Create comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
